body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.wrapper_index{
    display: flex;
    align-items: stretch;
}
.logo_img{
    position: absolute;
    top: 3%;
    right: 50%;
    transform: translate(50%, 0);
    font-size: 60px;
    color: white;
    background: lightgray;
    z-index: 2;
    width: 25%;
    border-radius: 50%;

}
.teaser_img{
    height: 100%;
    position: relative;
    flex: 1 0 33%;
}
.teaser_img img{
    height: 100vh;
    width: 100%;
    object-fit: cover;;
}
.teaser_text{
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 0);
    color: white;
    font-size: 50px;
}

.listContainer{
    display: flex;
    width: 100%;
    height: 100vh;
}

.redTeam {
    flex: 1 0 25%;
    background: red;
}
.noTeam{
    flex: 1 0 50%;
    background: white;
}
.blueTeam{
    flex: 1 0  25%;
    background: blue;
}

.redTeam li, .blueTeam li, .noTeam li{
    font-size: 30px;
}
.redTeam li, .blueTeam li{
    color: white;
}

.redTeam ul, .blueTeam ul, .noTeam ul{
    list-style-type: none !important;
    padding: 0;
    margin: 30px;
    text-align: center;
}
.blueTeam h2, .redTeam h2 {
    text-align: center;
    color: white;
}
.noTeam h2{
    text-align: center;
}
.add_player_wrapper{
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
    bottom: 40px;
    width: 40%;
}
#name{
    border: 2px solid black;
    border-radius: 4px;
    width: 98%;
    height: 25px;
}
#name_label{
    font-size: 25px;
    font-weight: bold;
}
#redTeamButton{
    border: 2px solid darkred;
    background: red;
    border-radius: 4px;
    width: 32.5%;
    height: 40px;
    margin-top: 40px;
}
#noTeamButton{
    border: 2px solid black;
    background: lightgray;
    border-radius: 4px;
    width: 32.5%;
    height: 40px;
    margin-top: 40px;

}
#blueTeamButton{
    border: 2px solid darkblue;
    background: blue;
    border-radius: 4px;
    width: 32.5%;
    height: 40px;
    margin-top: 40px;
}

#play{
    border: 2px solid darkgreen;
    background: green;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}
.points{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
#redTeamPoints{
    color: darkred;
    font-weight: bold;
    font-size: 50px;
}
#blueTeamPoints{
    color: darkblue;
    font-weight: bold;
    font-size: 50px;
}

#slideText{
    margin: 0 10%;
    font-size: 30px;
    color: white;
    text-align: center;
}
.background{
    height: 100vh;
    background-image: url("../img/background.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.winnerButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 100px;
}
#redTeamWinButton{
    border: 2px solid darkred;
    background: white;
    border-radius: 4px;
    width: 15%;
    height: 50px;
    margin-top: 40px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}
#blueTeamWinButton{
    border: 2px solid darkblue;
    background: white;
    border-radius: 4px;
    width: 15%;
    height: 50px;
    margin-top: 40px;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
#noTeamWinButton{
    border: 2px solid black;
    background: white;
    border-radius: 4px;
    width: 15%;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}